@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
* {
    font-family: Montserrat;
}


/* NAV */

.menu-toggle,
.container__options__button {
    display: none;
}

header {
    background-color: #CBD6CC;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav__logo img {
    width: 150px;
    mix-blend-mode: multiply;
    margin: 30px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    margin: 20px 60px 20px 20px;
    order: 2;
}

.nav__list li {
    list-style: none;
    padding: 15px;
}

.nav__list a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 20px;
    transition: 0.25s;
}

.nav__list a:hover {
    background-color: #d33e27;
    color: white;
}

.nav__login a {
    background-color: black;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
}


/* HERO */

.main {
    background-color: #F1E9D8;
}

body {
    background-color: #CBD6CC;
}

.hero {
    background-color: #CBD6CC;
}

.hero__container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: 150px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.hero__text h1 {
    font-size: 100px;
}

.hero__text h3 {
    font-weight: 300;
    font-size: 20px;
}

.hero__text__register {
    display: flex;
}

.hero__text__register__icon i {
    margin-top: 30px;
    font-size: 70px;
    color: #d33e27;
    background-color: white;
    border-radius: 50%;
}

.hero__text__register__link {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}

.hero__text__register__link a {
    color: #d33e27;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.hero__text__register__link a:hover {
    color: #922413;
}

.hero__img img {
    margin-top: 100px;
    width: 750px;
}


/* ABOUT */

.about {
    background-color: #F1E9D8;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 110px;
}

.about__text {
    text-align: left;
}

.about__text h2 {
    font-size: 35px;
}

.about__text h3 {
    font-size: 20px;
}

.about__text p {
    font-size: 15px;
    text-align: justify;
    max-width: 500px;
}

.about__img img {
    width: 200px;
    padding: 40px;
}


/* PRODUCT */

.product__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
}

.product__container__title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.product__container__title h2 {
    font-size: 35px;
}

.product__container {
    padding-top: 100px;
    background-color: #F1E9D8;
}

.product__container__img img {
    width: 300px;
}

.product__container__img {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.product__container__img h3 {
    padding-top: 40px;
    width: 400px;
}


/* FAQ */

.faq {
    background-color: #F1E9D8;
}

.faq__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-bottom: 40px;
}

.faq__container__title h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
}

.faq__container__img img {
    width: 300px;
}

.faq__container__question1 {
    text-align: justify;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
}


/* FOOTER */

.footer__container {
    display: flex;
    justify-content: space-around;
}

.footer__container__logo {
    padding: 40px;
}

.footer__container__logo img {
    mix-blend-mode: multiply;
}

.footer__container__socials {
    padding: 40px;
}

.footer__container__socials i {
    font-size: 40px;
    padding: 20px;
}

.footer__container__socials i:hover {
    cursor: pointer;
}

.footer__container__rights p {
    display: flex;
    height: 100%;
    align-items: flex-end;
    font-size: 10px;
}

.footer__container__rights p {
    font-size: 10px;
}


/* WHATSAPP STICKY */

.stickywpp__container {
    position: relative;
}

.stickywpp__container img {
    width: 50px;
    position: fixed;
    right: 10px;
    top: 750px;
}

.stickywpp__container img:hover {
    cursor: pointer;
}


/* RESPONSIVE */

@media (max-width:576px) {
    header {
        position: static;
    }
    .nav__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__container__rights {
        display: none;
    }
    .nav__list,
    .menu-toggle {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .menu-toggle:checked+.nav__list {
        display: block;
        position: absolute;
        top: 120px;
        margin: 0 auto;
        background-color: #F1E9D8;
    }
    .fa-solid:hover {
        cursor: pointer;
    }
    .nav__login li,
    .nav__list li {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: center;
    }
    .nav__login {
        margin: 0;
    }
    .container__options__button {
        display: block;
    }
    /* HERO */
    .hero__container {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }
    .hero__text h1 {
        font-size: 40px;
    }
    .hero__text__register__icon,
    .hero__text__register__link {
        display: none;
    }
    .hero__img img {
        width: 350px;
        margin-top: 0;
    }
    /* ABOUT */
    .about__container {
        flex-direction: column;
        text-align: center;
    }
    .about__text {
        text-align: center;
        max-width: 350px;
    }
    .about__img2 {
        display: none;
    }
    /* PRODUCT */
    .product__container__img {
        flex-direction: column;
        align-items: center;
    }
    .product__container {
        text-align: center;
    }
    .product__container__img1 h3 {
        max-width: 350px;
    }
    /* FAQ */
    .faq__container {
        flex-direction: column;
        align-items: center;
    }
    .faq__container__question1 {
        text-align: center;
    }
}

@media (max-width:1279px) {
    /* NAV */
    .container__options__button {
        display: block;
    }
    header {
        position: static;
    }
    .nav__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__container__rights {
        display: none;
    }
    .nav__list,
    .menu-toggle {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .menu-toggle:checked+.nav__list {
        display: block;
        position: absolute;
        top: 120px;
        margin: 0 auto;
        background-color: #F1E9D8;
    }
    .fa-solid:hover {
        cursor: pointer;
    }
    .nav__login li,
    .nav__list li {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: center;
    }
    .nav__login {
        margin: 0;
    }
    /* HERO */
    .hero__container {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }
    .hero__text h1 {
        font-size: 40px;
    }
    .hero__text__register__icon,
    .hero__text__register__link {
        display: none;
    }
    .hero__img img {
        width: 350px;
        margin-top: 0;
    }
    /* ABOUT */
    .about__container {
        flex-direction: column;
        text-align: center;
    }
    .about__text {
        text-align: center;
        max-width: 350px;
    }
    /* PRODUCT */
    .product__container__img {
        flex-direction: column;
        align-items: center;
    }
    .product__container {
        text-align: center;
    }
    .product__container__img1 h3 {
        max-width: 350px;
    }
}