@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
* {
    font-family: Montserrat;
}

@import url(style-home.css);
header {
    top: 0;
}


/* LOGIN */

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.login__container__form {
    list-style: none;
}

.login__container__form input {
    width: 300px;
    height: 40px;
}

.email {
    border-radius: 8px 8px 0 0;
}

.password {
    border-radius: 0 0 8px 8px;
}

.login__container__remember {
    margin: 20px;
}

.login__container__loginbutton input {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: black;
}

.login__container__loginbutton input:hover {
    cursor: pointer;
    background-color: #d33e27;
    transition: 0.4s;
}

#register {
    background-color: #7c554f
}

#register:hover {
    background-color: #cf371f
}

.menu-toggle {
    display: none;
}


/* RESPONSIVE */

@media (max-width:576px) {
    header {
        position: static;
    }
    .nav__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__container__rights {
        display: none;
    }
    .nav__list,
    .menu-toggle {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .menu-toggle:checked+.nav__list {
        display: block;
        position: absolute;
        top: 120px;
        max-width: 150px;
        margin: 0 auto;
    }
    .menu-toggle :hover {
        cursor: pointer;
    }
    .nav__login {
        display: none;
    }
}